.Mercure{
    background-color: darkgrey;


}
.Vénus{
    background-color: yellow;


}
.Terre{
    background-color: blue;


}
.Mars{
    background-color: red;

}
.Jupiter{
    background-color: darkorange;

} 
.Saturne{

    background-color:yellow
}
.Uranus{

    background-color: cornflowerblue;
}
.Neptune{
    background-color: darkblue;

}
.Pluton{
    background-color: darkgrey;


}